body {
    font-family: sans-serif;
}

h1 h2 h3 h4 h5 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.nav {
    background-color: #f7e6bb;
    justify-content: left;
    color: black;
    padding: 15px;
    font-family: sans-serif;
}

.nav-link,
.navbar-brand,
.dropdown-item {
  color: #000 !important; /* Negro */
  transition: color 0.3s ease; /* Suavizado de transición */
}

.nav-link:hover,
.navbar-brand:hover,
.dropdown-item:hover {
  color: #FF69B4 !important; 
}

.bi-cart-fill {
  color: #000; 
  transition: color 0.3s ease; 
}

.bi-cart-fill:hover {
  color: #FF69B4;
}


.container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 25% 25% 25%;
}

.item1 {
    grid-area: 1/1/3/2;
    background-color: #b1e8f873;
    
}

.item2 {
    grid-area: 1/2/5/3;
    background-color: #b1e8f873;
    padding: 25px;
}

.item3 {
    grid-area: 3/1/5/2;
    background-color: #b1e8f873;
    padding: 15px;
    margin: 0px;
    text-align: justify;
}

h3 {
    font-family: sans-serif;
}

p {
    font-family: sans-serif;
    color: black;
}

footer {
    background: #B9B8C1;
    padding: 20px;
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .social-icons {
    display: flex;
    flex-wrap: wrap;

    a {
        color: #050404;
    }
}

footer.social-icons a img {
    flex-grow: 1;
    width: 100px;
    height: 40px;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer .social-icons a:hover {
    background: #6d6868;
}

footer .contactosinf {
    text-align: center;
}


footer.social a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
    display: inline-block;
}

.contactosinf {
    h2 {
        color: #333333;
        text-align: center;
    }

    p {
        color: #333333;
        text-align: center;
    }
}

footer i {
    padding: 10px;
}